* {
    box-sizing: border-box;
    --background-color: rgb(206, 228, 235);
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#search {
    border-radius: 15px;
    border: none;
    height: 25px;
    text-align: center; 
}