* {
    box-sizing: border-box;
    --background-color: rgb(12, 72, 90);
    --display-button: rgb(219, 219, 219);
    --display-button-border: rgb(138, 136, 136);
    --change-unity-color: rgb(174, 240, 174);
    --main-card: rgba(221, 221, 221, 0.846);
    font-family: Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

/* search bar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: var(--main-card);
}

h3 {
    font-size: 25px;
}

.search-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.search-box-info {
    position: relative;
}

.search-box-info > i {
    font-size: 12px;
    position: absolute;
    top: 32%;
    right: 8%;
}

.search-box-info > i:hover{
    cursor: pointer;
}

#search {
    border-radius: 15px;
    border: none;
    height: 25px;
    text-align: center; 
}

.error-message {
    color: red;
    font-size: 12px;
}

/* main content */
main {
    display: flex;
    padding: 50px;
}

.content {
    margin: 0 auto;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-card);
}

.content * {
margin: 0 0 12px 0;
}

#city-name {
    margin-bottom: 0;
}


#today-date, #time, #change-unity {
    font-size: 12px;
}

#temperature {
    font-size: 30px;
}

#change-unity {
    border: 1px solid var(--display-button-border);
    display: inline-block;
    border-radius: 15px;
    width: 70px;
    text-align: center;
    background-color: var(--display-button);
}

#change-unity:hover {
    cursor: pointer;
    background-color: var(--change-unity-color);
}

.hidden {
    display: none;
}